include LICENSE
include MANIFEST.in

include build_inplace
include bin/blink
include run

recursive-include blink *.pyx
recursive-exclude blink *.c

graft doc
graft resources
prune resources/icons/work
