include LICENSE
include INSTALL
include README
include MANIFEST.in

include build_inplace
include bin/blink
include run

include debian/blink.1
include debian/blink.desktop
include debian/blink.docs
include debian/blink.install
include debian/blink.manpages
include debian/blink.xpm
include debian/changelog
include debian/compat
include debian/control
include debian/copyright
include debian/rules
include debian/source/format

recursive-include blink *.pyx
recursive-exclude blink *.c

graft resources
prune resources/icons/work
