Source: blink
Section: python
Priority: optional
Maintainer: Adrian Georgescu <ag@ag-projects.com>
Uploaders: Tijmen de Mes <tijmen@ag-projects.com>
Build-Depends: debhelper (>= 11),
               dh-python,
               python3-all-dev,
               python3-all-dbg,
               cython3-dbg,
               libvncserver-dev
Standards-Version: 4.5.0
Homepage: http://icanblink.com

Package: blink
Architecture: any
Depends: ${python3:Depends}, ${shlibs:Depends}, ${misc:Depends},
         libavahi-compat-libdnssd1,
         python3-application,
         python3-eventlib,
         python3-googleapi,
         python3-lxml,
         python3-oauth2client,
         python3-pgpy,
         python3-pyqt5,
         python3-pyqt5.qtsvg,
         python3-pyqt5.qtwebkit,
         python3-requests,
         python3-sipsimple (>=5.3.0),
         python3-sqlobject,
         python3-twisted,
         python3-zope.interface,
         x11vnc
Description: Fully featured, easy to use SIP client with a Qt based UI
 Blink is a fully featured SIP client written in Python 3 and built on top of
 SIP SIMPLE client SDK with a Qt 5 based user interface. Blink provides real
 time applications based on SIP and related protocols for Audio, Video,
 Instant Messaging, MSRP Chat and File Transfers, Desktop Sharing and Presence.
